h1{
    font-size: 24px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
p{
    width: 50%;
    float: left;
    padding: 10px;
}
#p1{
    color: palevioletred;
}
*{
    box-sizing: border-box;
    background-color: black;
}
#im{
    background: url("https://i.pinimg.com/originals/eb/fe/df/ebfedfcf9fb316adbe381a36d6950c80.png") top center no-repeat;
    width: 1400px;
    height: 1000px;
    text-align: center;
    position:relative;
    top: 80px;
    left: 50px;
    color: azure;
}
#p2{
    color: aqua;
}

